.antlr
**/bun.lockb
**/__pycache__
**/.next
**/next-env.d.ts
**/parser.out
**/parsetab.py
**/node_modules

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/.next/
frontend/out/
frontend/# production
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env*.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts