@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.About-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.About-page .div {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.About-page .overlap {
  height: 45px;
  left: 801px;
  position: absolute;
  top: 25px;
  width: 658px;
}

.About-page .home-button {
  all: unset;
  box-sizing: border-box;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 262px;
}

.About-page .overlap-group {
  background: linear-gradient(180deg, rgb(169, 176, 208) 0%, rgb(99, 140, 197) 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 45px;
  position: relative;
  width: 260px;
}

.About-page .text-wrapper {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 106px;
}

.About-page .about-button {
  height: 45px;
  left: 192px;
  position: absolute;
  top: 0;
  width: 262px;
}

.About-page .div-wrapper {
  background: linear-gradient(135deg, #F8C58C, #FDE5CD);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 45px;
  position: relative;
  width: 260px;
}

.About-page .text-wrapper-2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 106px;
}

.About-page .info-button {
  height: 45px;
  left: 396px;
  position: absolute;
  top: 0;
  width: 262px;
}

.About-page .overlap-2 {
  background: linear-gradient(180deg, rgb(166, 174, 208) 0%, rgb(96, 139, 196) 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 45px;
  position: relative;
  width: 260px;
}

.About-page .text-wrapper-3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 106px;
}

.About-page .overlap-3 {
  height: 904px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 1442px;
}

.About-page .background {
  height: 904px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}


.About-page .overlap-4 {
  background-image: url(https://c.animaapp.com/a0hzXRiM/img/sky-img.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 700px;
  position: relative;
  width: 1440px;
}

.About-page .rectangle {
  background-color: #f0f0f0ed;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 600px;
  left: 129px;
  position: absolute;
  top: 34px;
  width: 1177px;
}

.About-page .code-input {
  background-color: #393939c4;
  height: 410px;
  left: 180px;
  position: absolute; 
  font-size: 14px; 
  width: 1073px;
  top: 130px;
  color: #ffffff;
  border: none;
  font-family: 'JetBrains Mono', monospace;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #656464;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 20px;
}

.About-page .rectangle-2 {
  background-color: #000000c4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;  
  height: 500px;
  left: 180px;
  position: absolute; 
  font-size: 14px; 
  width: 1073px;
  top: 64px;
}

.About-page .line {
  height: 3px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 129px;
  width: 1074px;
}

.About-page .text-wrapper-4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  left: 203px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 85px;
  width: 392px;
}


.About-page .more-info-button {
  height: 44px;
  left: 494px;
  position: absolute;
  top: 578px;
  width: 454px;
  background-image: url(https://c.animaapp.com/a0hzXRiM/img/rectangle-5.svg);
  background-size: 100% 100%;
  height: 44px;
  position: relative;
  width: 452px;
  border: none;
  font-family: 'JetBrains Mono', monospace;

}

.more-info-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #FDE5CD, #F8C58C);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }
  
  .more-info-button:hover {
    background: linear-gradient(135deg, #F8C58C, #FDE5CD);
    border-color: #F8C58C;
    border-radius: 10px;
  }


.About-page .text-wrapper-5 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 106px;
}

.About-page .text-wrapper-6 {
  color: #89a0cb;
  font-size: 15px;
  font-weight: 400;
  left: 642px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 780px;
  white-space: nowrap;
  width: 161px;
}

.About-page .text-wrapper-7 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(167, 175, 208) 0%, rgb(97, 139, 196) 100%);
  background-clip: text;
  color: transparent;
  font-size: 35px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px #00000040;
  top: 11px;
  width: 215px;
}


